@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";

.lesson-header {
  @include responsive.responsive(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-item {
    a {
      position: relative;
      display: block;
      padding: rem.rem(20px);
      color: color.$main-colour;
      @include responsive.responsive(lg) {
        background-color: transparent;
        padding: rem.rem(10px);
      }
      &:hover {
        text-decoration: none;
        @include responsive.responsive(lg) {
          &::after {
            content: '';
            width: 50px;
            height: 2px;
            background-color: color.$accent-colour;
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% 0;
          }
        }
      }
    }
    &.current-menu-item {
      position: relative;
      font-weight: 700;
      border-left: 5px solid color.$accent-colour;
      background-color: #fafafa;
      @include responsive.responsive(lg) {
        border-left: none;
        background-color: transparent;
        &::after {
          content: '';
          width: 50px;
          height: 2px;
          background-color: color.$accent-colour;
          position: absolute;
          bottom: 0;
          left: 50%;
          translate: -50% 0;
        }
      }
    }
  }

  .lesson-gnav {
    display: none;
    @include responsive.responsive(lg) {
      display: initial;
    }
    .menu {
      display: flex;
      flex-direction: column;
      @include responsive.responsive(lg) {
        flex-direction: row;
      }
    }

  }

  .lesson-nav-sp {
    z-index: 10;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    width: rem.rem(280px);
    height: 100%;
    margin: 0;
    background: color.$white;
    transform: translateX(100%);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.lesson-header__inner {
  display: flex;
  flex-direction: column;
  padding: rem.rem(10px);
  @include responsive.responsive(xl) {
    flex-direction: row;
    align-items: center;
    gap: rem.rem(20px);
  }
}

.lesson-header__heading {
  font-family: 'Sofia', cursive;
  font-weight: 700;
  font-size: rem.rem(24px);
  color: color.$main-colour;
  &:hover {
    text-decoration: none;
  }
}

.lesson-header__sub-heading {
  color: color.$main-colour;
  font-size: rem.rem(14px);
}

.lesson-hero-section {
  position: relative;
  padding: #{clamp.sass_clamp(40px, 80px)};
  background: linear-gradient(135deg, #bbe5ff 0%, #f0faff);
}

.lesson-hero-section--top {
  display: flex;
  align-items: flex-end;
  height: 70vh;
  background: url(images/lesson-top.jpg) 70% top/cover no-repeat;
  @include responsive.responsive(lg) {
    background: url(images/lesson-top.jpg) center top/cover no-repeat;
    align-items: center;
  }
}

.lesson-home-catch {
  position: relative;
  z-index: 2;
  background-color: transparentize(color.$white, 0.5);
  width: fit-content;
  padding: rem.rem(24px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 2rem 1.5rem -2rem rgba(26,60,77,.4);
  @include responsive.responsive(xxl) {
    margin-left: 200px;
  }
}

.lesson-home-catch__text {
  color: color.$main-colour;
  font-size: #{clamp.sass_clamp(24px, 48px)};
}

.lesson-home-catch__button {
  margin-top: #{clamp.sass_clamp(16px, 24px)};
}

.lesson-hero-section__heading {
  text-align: center;
  color: color.$main-colour;
  font-size: #{clamp.sass_clamp(24px, 48px)};
}

.lesson-section {
  padding: #{clamp.sass_clamp(40px, 80px)} rem.rem(20px);
  background-color: #fafafa;
  &:nth-child(2n) {
    background-color: color.$white;
  }

  &.lesson-section--price {
    background: linear-gradient(135deg, #bbe5ff 0%, #f0faff);
  }

  &.lesson-section--private {
    background-color: transparentize(color.$main-colour, 0.8);
  }

  &.lesson-section--mentoring {
    background-color: transparentize(color.$main-colour, 0.2);
  }
}

.lesson-section--solved {
  position: relative;
  padding-top:  100px;
  background-color: color.$light-sub;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    translate: -50% 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #fff transparent transparent transparent;
  }
}

.lesson-section__heading {
  font-size: #{clamp.sass_clamp(24px, 40px)};
  color: color.$main-colour;
  font-weight: bold;
  text-align: center;
}

.lesson-section__heading--mentoring {
  color: color.$white;
}

.lesson-sub-heading {
  text-align: center;
  color: color.$main-colour;
  font-size: #{clamp.sass_clamp(16px, 20px)};
}

.lesson-sub-heading--mentoring {
  color: color.$white;
}

.lesson-section__inner {
  max-width: 1024px;
  margin-inline: auto;
  @include responsive.responsive(md) {
    flex-direction: row;
    gap: rem.rem(20px);
  }
}

.lesson-image {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  max-width: 700px;
}

.lesson-definition {
  max-width: 700px;
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
}

.lesson-definition--mentoring {
  color: color.$white;
}

.lesson-price-box {
  margin: #{clamp.sass_clamp(24px, 40px)} auto 0;
}

.lesson-catch {
  font-size: #{clamp.sass_clamp(24px, 40px)};
  color: color.$main-colour;
  font-weight: bold;
  text-align: center;
}

.lesson-lead {
  max-width: 700px;
  margin: #{clamp.sass_clamp(24px, 40px)} auto 0;
}

.lesson-content {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  display: flex;
  flex-direction: column;
  gap: rem.rem(20px);
  max-width: 700px;
  align-items: center;
  @include responsive.responsive(md) {
    align-items: center;
  }
}

.lesson-content--mentoring {
  max-width: 1024px;
  @include responsive.responsive(md) {
    flex-direction: row;
  }
}

.lesson-introduction {
  display: flex;
  flex-direction: column;
  gap: rem.rem(24px);
}

.lesson-nav-list {
  display: flex;
  gap: rem.rem(10px);
  justify-content: center;
  flex-wrap: wrap;
}

.lesson-nav-list__item {
  a {
    display: flex;
    gap: rem.rem(10px);
    align-items: center;
    border-radius: 20px;
    padding: rem.rem(5px) rem.rem(20px);
    color: color.$white;
    text-align: center;
    background-color: color.$light-main;
    border: 1px solid color.$light-main;
    transition: 0.2s;
    &:hover {
      text-decoration: none;
      color: color.$light-main;
      background-color: color.$white;
      &::after {
        border-right: 1px solid color.$light-main;
        border-bottom: 1px solid color.$light-main;
        transition: 0.2s;
      }
    }
    &::after {
      display: block;
      content: "";
      width: 10px;
      height: 10px;
      border-right: 1px solid color.$white;
      border-bottom: 1px solid color.$white;
      rotate: 45deg;
      margin-top: rem.rem(-8px);
    }
  }
  &::before {
    content: none;
  }
}

.lesson-button {
  margin: 40px auto 0;
  width: fit-content;
}

.lesson-choice {
  display: flex;
  flex-direction: column;
  gap: rem.rem(20px);
  margin: #{clamp.sass_clamp(20px, 60px)} auto 0;
  border-radius: 50px;
  @include responsive.responsive(md) {
    flex-direction: row;
  }
}

.lesson-choice__item {
  width: 50%;
  a {
    display: block;
    padding: rem.rem(20px);
    background-color: color.$main-colour;
    color: color.$white;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid color.$main-colour;
    transition: 0.2s;
    &:hover {
      text-decoration: none;
      color: color.$main-colour;
      background-color: color.$white;
    }
  }
}

.teacher {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  display: flex;
  gap:  rem.rem(24px);
  flex-direction: column;
  @include responsive.responsive(md) {
    flex-direction: row;
    align-items: center;
  }
}

.teacher__image {
  border-radius: 50%;
  max-width: 300px;
  margin-inline: auto;
  img {
    border-radius: 50%;
  }
}

.teacher__profile {
  display: flex;
  flex-direction: column;
  gap: rem.rem(24px);
}

.lesson-box {
  position: relative;
  padding: rem.rem(20px);
  width: 100%;
  border-radius: 10px;
  background-color: color.$white;
  max-width: 650px;
  margin-inline: auto;
  @include responsive.responsive(md) {
    min-height: 370px;
  }
}

.lesson-box__fukidashi {
  padding: rem.rem(10px);
  min-width: 200px;
  max-width: 60%;
  margin: 0 auto 20px;
  color: color.$white;
  font-size: rem.rem(16px);
  background: color.$main-colour;
  border-radius: 50px;
  text-align: center;
  line-height: 1;
  @include responsive.responsive(md) {
    position: absolute;
    top: rem.rem(-55px);
    left: 50%;
    translate: -50% 0;
    max-width: 100%;
    margin: 0;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50% 0;
      border: 10px solid transparent;
      border-top: 10px solid color.$main-colour;
    }
  }
}

.lesson-box--recommended {
  box-shadow: 0 2rem 1.5rem -2rem hsl(200 50% 20% / 40%);
  border: 2px solid color.$main-colour;
  @include responsive.responsive(md) {
    padding: rem.rem(56px) rem.rem(20px);
  }
}

.lesson-box-transparent {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 2rem 1.5rem -2rem hsl(200 50% 20% / 40%);
  width: 100%;
  max-width: 650px;
  margin-inline: auto;
}

.lesson-price-title {
  color: color.$main-colour;
  text-align: center;
  font-size: #{clamp.sass_clamp(16px, 24px)};
}

.lesson-price {
  color: color.$main-colour;
  text-align: center;
  font-size: #{clamp.sass_clamp(24px, 24px)};
  strong {
    font-size: #{clamp.sass_clamp(30px, 40px)};
  }
}

.lesson-detail {
  margin-top: 32px;
}

.lesson-detail__heading {
  font-size: #{clamp.sass_clamp(16px, 24px)};
  text-align: center;
  border-bottom: 1px dotted color.$main-colour;
}

.lesson-detail__content {
  margin: 20px auto 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem.rem(24px);
  @include responsive.responsive(md) {
    min-height: rem.rem(140px);
    gap: 0;
  }
}

.lesson-faq {
  margin-top: #{clamp.sass_clamp(40px, 80px)};
}

.lesson-faq__group {
  transition: 0.2s;
  &[open] {
    background-color: #fafafa;
    .lesson-faq__question {
      &::after {
        transform: rotate(225deg);
      }
    }
    .lesson-faq__answer {
      translate: none;
      opacity: 1;
    }
  }
  &:hover {
    background-color: #fafafa;
  }
}

.lesson-faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em 1em 3em;
  font-weight: 600;
  cursor: pointer;
  &::before {
    position: absolute;
    left: 1em;
    font-weight: 700;
    font-size: rem.rem(20px);
    color: color.$main-colour;
    content: "Q";
  }
  &::after {
    transform: translateY(-25%) rotate(45deg);
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-bottom: 2px solid color.$main-colour;
    border-right: 2px solid color.$main-colour;
    content: '';
    transition: transform .5s;
  }
}

.lesson-faq__answer {
  display: flex;
  gap: rem.rem(10px);
  position: relative;
  translate: 0 -10px;
  opacity: 0;
  margin: 0;
  padding: .3em 3em 1.5em;
  color: #333;
  transition: transform .5s, opacity .5s;
  &::before {
    color: color.$important-colour;
    line-height: 1.2;
    content: "A";
    padding: rem.rem(3px);
  }
}

.lesson-detail__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    margin-top: -3px;
    border-top: 2px solid color.$main-colour;
    border-right: 2px solid color.$main-colour;
  }
}

.lesson-section__comparison-table {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
}

.lesson-notes {
  text-align: center;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: rem.rem(80px);
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  max-width: 320px;
  @include responsive.responsive(md) {
    flex-direction: row;
    max-width: none;
    gap: rem.rem(40px);
  }
}

.feature-list__item {
  flex: 1;
}

.feature-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: rem.rem(100px);
  height: rem.rem(100px);
  border-radius: 50%;
  background-color: color.$accent-colour;
  i {
    color: color.$white;
    font-size: rem.rem(36px);
  }
}

.feature-list__user {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  margin: 30px auto 0;
  width: rem.rem(100px);
  height: rem.rem(100px);
}

.feature-list__heading {
  font-size: rem.rem(20px);
  color: color.$main-colour;
  text-align: center;
  margin: rem.rem(24px) auto 0;
}

.feature-list__text-wrap {
  position: relative;
  background-color: color.$sub-colour;
  border-radius: 20px;
  padding: rem.rem(20px);
  display: flex;
  flex-direction: column;
  gap: rem.rem(24px);
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 0;
    border: 10px solid transparent;
    border-top: 10px solid color.$sub-colour;
  }
}

.feature-list__text {
  position: relative;
  margin-top: rem.rem(16px);
}

.lesson-flow {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  max-width: 650px;
}

.lesson-flow__item-wrap {
  &::after {
    content: "";
    display: block;
    position: relative;
    margin: rem.rem(20px) 0 rem.rem(10px);
    left: 50%;
    translate: -50% 0;
    width: 10px;
    border: 10px solid rgba(0,0,0,0);
    border-top: 15px solid color.$important-colour;
  }

  &:last-of-type {
    &::after {
      content: none;
    }
  }
}

.lesson-flow__item {
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: color.$white;
  box-shadow: 0 2rem 1.5rem -2rem rgba(26,60,77,.4);
  padding: rem.rem(20px) rem.rem(24px);
}

.lesson-flow__item-title {
  color: color.$main-colour;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 10px;
  padding: 0 0 5px;
  font-size: rem.rem(20px);
  strong {
    font-size: rem.rem(28px);
  }
}

.form-notes {
  width: fit-content;
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  .emphasis {
    color: color.$important-colour;
  }
}

.mentoring-worries {
  width: 100%;
}

.mentoring-worries__item {
  position: relative;
  padding: rem.rem(24px);
  background-color: color.$sub-colour;
  border-radius: #{clamp.sass_clamp(20px, 50px)};
  width: 80%;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    border: 10px solid transparent;
    border-top: 10px solid color.$sub-colour;
  }
}
.mentoring-worries__item--right {
  margin: rem.rem(24px) 0 0 auto;
  background-color: color.$light-main;
  color: color.$white;
  &::before {
    left: auto;
    right: 10%;
    border-top: 10px solid color.$light-main;
  }
}

.mentoring-content-images {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
}

.mentoring-content-image {
  height: rem.rem(200px);
  img {
    height: 100%;
  }
}

.mentoring-content-image--small {
  height: rem.rem(180px);
}

.page .footer {
  width: 100%;
  left: 0;
  z-index: 2;
}