@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";

.lesson-header {
  @include responsive.responsive(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: flex;
    flex-direction: column;
    @include responsive.responsive(md) {
      flex-direction: row;
    }
  }
  .menu-item {
    a {
      position: relative;
      background-color: #fafafa;
      display: block;
      padding: rem.rem(10px);
      color: color.$main-colour;
      @include responsive.responsive(md) {
        background-color: transparent;
      }
      &:hover {
        text-decoration: none;
        @include responsive.responsive(md) {
          &::after {
            content: '';
            width: 50px;
            height: 2px;
            background-color: color.$accent-colour;
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% 0;
          }
        }
      }
    }
    &.current-menu-item {
      position: relative;
      font-weight: 700;
      @include responsive.responsive(md) {
        &::after {
          content: '';
          width: 50px;
          height: 2px;
          background-color: color.$accent-colour;
          position: absolute;
          bottom: 0;
          left: 50%;
          translate: -50% 0;
        }
      }
    }
  }
}

.lesson-header__inner {
  display: flex;
  flex-direction: column;
  padding: rem.rem(10px);
  @include responsive.responsive(lg) {
    flex-direction: row;
    align-items: center;
    gap: rem.rem(20px);
  }
}

.lesson__heading {
  font-family: 'Sofia', cursive;
  font-weight: 700;
  font-size: rem.rem(24px);
  color: color.$main-colour;
}

.lesson__sub-heading {
  color: color.$main-colour;
  font-size: rem.rem(14px);
}

.lesson-hero-section {
  padding: #{clamp.sass_clamp(40px, 80px)};
  background: linear-gradient(135deg, #bbe5ff 0%, #f0faff);
}

.lesson-hero-section__heading {
  text-align: center;
  color: color.$main-colour;
  font-size: #{clamp.sass_clamp(24px, 48px)};
}

.lesson-section {
  padding: #{clamp.sass_clamp(40px, 80px)} rem.rem(20px);
  &:nth-child(2n) {
    background-color: #fafafa;
  }
}

.lesson-section--price {
  background: linear-gradient(135deg, #bbe5ff 0%, #f0faff);
}

.lesson-section__heading {
  font-size: #{clamp.sass_clamp(24px, 40px)};
  color: color.$main-colour;
  font-weight: bold;
  text-align: center;
}

.lesson-section__inner {
  max-width: 1024px;
  margin-inline: auto;
  @include responsive.responsive(md) {
    flex-direction: row;
    gap: rem.rem(20px);
  }
}

.lesson-catch {
  font-size: #{clamp.sass_clamp(24px, 40px)};
  color: color.$main-colour;
  font-weight: bold;
  text-align: center;
}

.lesson-lead {
  max-width: 700px;
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
}

.lesson-content {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  display: flex;
  flex-direction: column;
  gap: rem.rem(20px);
  max-width: 700px;
  @include responsive.responsive(md) {
    align-items: center;
  }
}

.lesson-content--mentoring {
  max-width: 1024px;
  @include responsive.responsive(md) {
    flex-direction: row;
  }
}

.lesson-button {
  margin-top: 40px;
}

.lesson-box {
  position: relative;
  padding: rem.rem(20px);
  width: 100%;
  border-radius: 10px;
  background-color: color.$white;
  max-width: 650px;
  margin-inline: auto;
  @include responsive.responsive(md) {
    min-height: 340px;
  }
}

.lesson-box__fukidashi {
  padding: rem.rem(10px);
  min-width: 200px;
  max-width: 60%;
  margin: 0 auto 20px;
  color: color.$white;
  font-size: rem.rem(16px);
  background: color.$main-colour;
  border-radius: 50px;
  text-align: center;
  line-height: 1;
  @include responsive.responsive(md) {
    position: absolute;
    top: rem.rem(-55px);
    left: 50%;
    translate: -50% 0;
    max-width: 100%;
    margin: 0;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50% 0;
      border: 10px solid transparent;
      border-top: 10px solid color.$main-colour;
    }
  }
}

.lesson-box--recommended {
  box-shadow: 0 2rem 1.5rem -2rem hsl(200 50% 20% / 40%);
  border: 2px solid color.$main-colour;
  @include responsive.responsive(md) {
    padding: rem.rem(56px) rem.rem(20px);
  }
}

.lesson-box-transparent {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 2rem 1.5rem -2rem hsl(200 50% 20% / 40%);
  width: 100%;
  max-width: 650px;
  margin-inline: auto;
}

.lesson-price-title {
  color: color.$main-colour;
  text-align: center;
  font-size: #{clamp.sass_clamp(16px, 24px)};
}

.lesson-price {
  color: color.$main-colour;
  text-align: center;
  font-size: #{clamp.sass_clamp(24px, 24px)};
  strong {
    font-size: #{clamp.sass_clamp(30px, 40px)};
  }
}

.lesson-detail {
  margin-top: 32px;
}

.lesson-detail__heading {
  font-size: #{clamp.sass_clamp(16px, 24px)};
  text-align: center;
  border-bottom: 1px dotted color.$main-colour;
}

.lesson-detail__list {
  margin: 20px auto 0;
  width: fit-content;
}

.lesson-detail__link {
  display: flex;
  margin-top: rem.rem(20px);
  align-items: center;
  justify-content: center;
  gap: 10px;
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    margin-top: -3px;
    border-top: 2px solid color.$main-colour;
    border-right: 2px solid color.$main-colour;
  }
}

.lesson-notes {
  text-align: center;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: rem.rem(80px);
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  max-width: 320px;
  @include responsive.responsive(md) {
    flex-direction: row;
    max-width: none;
    gap: rem.rem(40px);
  }
}

.feature-list__item {
  flex: 1;
}

.feature-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: color.$accent-colour;
  i {
    color: color.$white;
    font-size: rem.rem(36px);
  }
}

.feature-list__icon--voice {
  background-color: color.$main-colour;
}

.feature-list__heading {
  font-size: 20px;
  color: color.$main-colour;
  text-align: center;
  margin: rem.rem(20px) auto 0;
}

.feature-list__text {
  position: relative;
  padding-top: 30px;
  margin: 10px auto 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    background-color: color.$accent-colour;
    width: 2px;
    height: 20px;
  }
}

.lesson-flow {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  max-width: 650px;
}

.lesson-flow__item-wrap {
  &::after {
    content: "";
    display: block;
    position: relative;
    margin: rem.rem(20px) 0 rem.rem(10px);
    left: 50%;
    translate: -50% 0;
    width: 10px;
    border: 10px solid rgba(0,0,0,0);
    border-top: 15px solid color.$important-colour;
  }

  &:last-of-type {
    &::after {
      content: none;
    }
  }
}

.lesson-flow__item {
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: color.$white;
  box-shadow: 0 2rem 1.5rem -2rem rgba(26,60,77,.4);
  padding: rem.rem(20px) rem.rem(24px);
}

.lesson-flow__item-title {
  color: color.$main-colour;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 10px;
  padding: 0 0 5px;
  font-size: rem.rem(20px);
  strong {
    font-size: rem.rem(28px);
  }
}

.form-notes {
  width: fit-content;
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  .emphasis {
    color: color.$important-colour;
  }
}

.footer {
  width: 100%;
  left: 0;
}