@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";

.main {
  background: url(images/sky-shinjuku.jpg) bottom center/cover no-repeat;
  background-attachment: fixed;
}

/* Main  content */

.main-content {
  transition: backdrop-filter 1s;
  &.scrolled {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

/* Section */

.section {
  display: flex;
  flex-direction: column-reverse;
}

.image-area {
  display: grid;
  place-content: center;
  position: sticky;
  height: 100lvh;
  overflow: visible;
  background-color: transparent;
  z-index: 0;
  top: 0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  width: 100%;
  padding-top: rem.rem(10px);
  //background-color: transparentize(color.$white, 0.6);
}

.gnav {
  display: flex;
  justify-content: center;
  background-color: color.$white;
  border-radius: 50px;
  width: fit-content;
  margin-inline: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.gnav__item a {
  display: block;
  padding: rem.rem(10px) rem.rem(20px);
  color: color.$accent-colour;
}

.gnav__item--lesson {
  display: none;
}

.gnav--bottom {
  background-color: #fafafa;
}

.above-the-fold {
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
  &__letters {
    font-family: 'Sofia', cursive;
    font-size: 50px;
    color: color.$white;
  }
}

/* Letters */

.letters {
  font-family: 'Sofia', cursive;
  width: 95%;

  &__top,
  &__bottom {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
    &.visible {
      opacity: 1;
    }
  }

  &__top {
    color: color.$white;
    font-size: 50px;
  }

  &__bottom {
    color: transparentize(color.$main-colour, 0.1);
    font-size: 30px;
  }
}

/* Scroll Button */

.scroll-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  translate: -50% 0;
  text-decoration: none;
  font-size: 14px;
  padding-top: 35px;
  color: color.$white;

  &:hover,
  &:focus {
    color: color.$white;
    text-decoration: none;
  }
}

.scroll__icon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 32px;
  height: 32px;
  translate: -50% 0;
  border: 1px solid color.$white;
  border-radius: 100%;
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }

  &::after {
    position: absolute;
    top: 40%;
    left: 50%;
    content: '';
    width: 7px;
    height: 7px;
    border-left: 1px solid color.$white;
    border-bottom: 1px solid color.$white;
    rotate: -45deg;
    transform-origin: left bottom;
    box-sizing: border-box;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Pic */

.portrait {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: auto;
  height: 80%;
}

.photo {
  width: 80%;
  max-width: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 1s ease-in-out 0.5s;
  &.visible {
    opacity: 1;
  }
}

.photo--large {
  width: 100%;
  max-width: 450px;
}

/* Contents */

.contents {
  background-color: transparentize(color.$white, 0.2);
  padding: 40px 20px;
  width: calc(100% - 20px);
  margin: 20px auto;
  scroll-margin-top: 80px;
  z-index: 100;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid transparentize(color.$white, 0.6);
  border-right-color: transparentize(color.$white, 0.8);
  border-bottom-color: transparentize(color.$white, 0.8);
}

.section__heading {
  color: color.$main-colour;
  position: relative;
  width: fit-content;
  font-size: 34px;
  font-weight: 500;
  margin-inline: auto;
  padding: 0 0 10px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 3px;
    left: 50%;
    translate: -50% 0;
    background-color: color.$accent-colour;
    border-radius: 5px;
  }
}

.section__wrap {
  margin-top: 48px;
}

.item-heading {
  font-size: 28px;
  font-family: fonts.$heading, sans-serif;
  font-weight: 500;
  position: relative;
  margin: 0 auto 24px;
  padding: 0 0 10px 0;
  color: color.$main-colour;


  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 3px;
    left: 50%;
    translate: -50% 0;
    background-color: color.$accent-colour;
    border-radius: 5px;
  }
}

/* Introduction */

.introduction {
  position: relative;
}

.introduction__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction__image {
  margin: rem.rem(80px) auto 0;
  width: min(90%, 300px);
  img {
    border-radius: 50%;
  }

}

.introduction__lead {
  margin: 40px auto 0;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: rem.rem(20px);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: color.$main-colour;
  margin: 0;
  font-weight: 500;
  font-family: fonts.$heading, sans-serif;
}

.title__top,
.title__bottom {
  display: block;
}

.title__top {
  font-size: 24px;
}

.title__bottom {
  font-size: 24px;
}

.title__name {
  font-size: 32px;
}

/* Socials */

.introduction__socials {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
}

.facebook,
.line {
  display: block;
  width: 50px;
  margin: 0 10px;
}

.facebook svg,
.line svg {
  width: 100%;
}

.facebook .st0 {
  fill: #1877f2;
}

.facebook .st1 {
  fill: #ffffff;
}

.line .st0 {
  fill: #00B900;
}

.line .st1 {
  fill: #ffffff;
}


/* Biography */

.biography-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.biography-list__text dt {
  margin: 0 0 5px 0;
  font-size: 24px;
  line-height: 1;
  color: color.$main-colour;
}

.biography-list__text dd {
  line-height: 1.7;
}

/* Skills */

.skills__primary {
  background-color: color.$translucent;
  border-radius: 10px;
  padding: 10%;
}

.skills__primary .skill-item {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  justify-content: center;
}

.skills__contents {
  container-type: inline-size;
}

.skills__secondary {
  margin-top: 48px;
}

@container (min-width: 500px) {
  .skills__secondary {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
  }

  .skills__secondary .skill-item {
    width: 30%;
    margin: 0;
    gap: 16px;
  }
}

.skill-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 0 40px 0;
}

.skill-item:last-child {
  margin: 0;
}

.skill-item__heading {
  text-align: center;
}

.skill-item__detail {
  margin: 0;
}

.skill-item__img {
  width: 100px;

  path {
    fill: color.$main-colour;
  }
}

/* Blog */

.front-blog-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
  gap: #{clamp.sass_clamp(12px,25px)};
}

.front-blog-article {
  position: relative;
  background-color: color.$white;
  box-shadow: 0 2rem 1.5rem -2rem rgba(26, 60, 77, .4);
  border: 1px solid #efefef;
  border-radius: rem.rem(20px);
  overflow: hidden;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  color: color.$font-colour;

  &:hover {
    text-decoration: none;
    color: color.$font-colour;

    img {
      scale: 1.2;
    }
  }

  .post-image {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: rem.rem(250px);
      object-fit: cover;
      object-position: center;
      transition: 0.2s;
    }
  }
}

.front-blog-article__category {
  position: absolute;
  top: rem.rem(10px);
  left: rem.rem(10px);
  z-index: 10;
  background-color: color.$accent-colour;
  color: color.$white;
  padding: rem.rem(5px) rem.rem(10px);
  font-size: rem.rem(14px);
  border-radius: 10px;
}

.front-blog-article__heading {
  display: -webkit-box;
  line-height: 1.5;
  overflow: hidden;
  font-size: #{clamp.sass_clamp(16px,24px)};
  font-weight: normal;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  padding: 0 #{clamp.sass_clamp(16px,24px)};
}

.front-blog-article__content {
  padding: 0 #{clamp.sass_clamp(16px,24px)};
}

.front-blog-article__bottom {
  padding: 0 #{clamp.sass_clamp(16px,24px)};
}

.footer-lesson-button {
  position: fixed;
  display: grid;
  place-content: center;
  background-color: color.$accent-colour;
  color: color.$white;
  bottom: 10px;
  right: 10px;
  width: rem.rem(100px);
  height: rem.rem(100px);
  padding: rem.rem(10px);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  font-size: rem.rem(14px);
}

@include responsive.responsive(md) {

  .sp-only {
    display: none;
  }

  .pc-only {
    display: block !important;
  }

  .scroll-button {
    bottom: 10px;
  }

  .header {
    /*-webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);*/
  }

  .above-the-fold {
    &__letters {
      font-size: 100px;
    }
  }

  .gnav__item--lesson {
    display: initial;
    a {
      color: color.$white;
      background-color: color.$accent-colour;
      border-radius: 50px;
    }
  }

  .section {
    flex-direction: row-reverse;
  }

  .section__heading {
    margin-inline: auto;
    padding: 0 0 20px 0;
    &::after {
      width: 48px;
      height: 5px;
      left: 50%;
    }
  }

  .section__wrap {
    margin-top: 80px;
  }

  .section:nth-of-type(2n) .contents {
    background-color: #fbfbfb;
  }

  .image-area {
    width: 30vw;
    background-color: transparent;

    &::before,
    &::after {
      width: 50vw;
    }
  }

  .contents {
    background-color: #fff;
    width: 70vw;
    min-height: 100lvh;
    padding: 100px 5%;
    margin: 0;
    scroll-margin-top: 0;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    box-shadow: none;
    border-radius: 0;
  }

  .introduction__contents {
    border-radius: 100px 0 0 0;
  }

  .title__top {
    font-size: 28px;
  }

  .title__bottom {
    font-size: 30px;
  }

  .title__name {
    font-size: 38px;
  }

  .biography-list__text dt {
    font-size: 60px;
    color: #e4eef5; /* lighter sub colour */
    margin: 0 0 -20px 0;
  }

  .letters {
    writing-mode: vertical-rl;
    &__top {
      font-size: 13vh;
      line-height: 1.4;
    }

    &__bottom {
      font-size: 7vh;
      line-height: 1.4;
    }
  }

  .skills__primary {
    background-color: color.$light-sub;
  }

  .prices {
    background-color: color.$light-sub;
    mix-blend-mode: multiply;
  }

  .footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    text-align: center;
    z-index: 120;
    width: 70%;
    left: 30%;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .footer-lesson-button {
    display: none;
  }
}

@include responsive.responsive(lg) {

  .section__heading {
    font-size: 46px;
    margin-inline: auto;
    padding: 0 0 20px 0;
  }

  .item-heading {
    margin: 0 auto 32px;
    padding: 0 0 16px 0;
    &::after {
      width: 40px;
    }
  }

  .introduction__lead {
    margin: 80px 0 0 0;
  }

  .title__top {
    font-size: 48px;
  }

  .title__bottom {
    font-size: 52px;
  }

  .title__name {
    font-size: 64px;
  }

  .skills__primary {
    .skill-item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 10%;
    }
    .skill-item__img {
      flex-shrink: 0;
      width: 125px;
    }
  }

  .services-prices__item {
    margin: 80px 0 0 0;
  }

  .biography__list {
    gap: 48px;
  }

  .skill-item__img {
    width: 75px;
  }



}

@include responsive.responsive(xxl) {
  .portrait {
    left: 6%;
  }
}
