@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";

/* なろう会用 */

.naro-kai-header {
  padding: #{clamp.sass_clamp(10px, 20px)};
  background-color: color.$stripe-bg;
}

.naro-kai-heading {
  font-size: #{clamp.sass_clamp(14px, 20px)};
  a {
    color: color.$main-colour;
  }
}

.naro-kai-container {
/*  padding: #{clamp.sass_clamp(10px, 20px)};*/

  .uagb-post__title {
    padding: rem.rem(20px);
    margin-bottom: rem.rem(24px);
    background-image: repeating-linear-gradient(45deg, #b2d5de 0 2px, transparent 2px 4px);
    background-repeat: no-repeat;
    background-size: rem.rem(56px) rem.rem(8px);
    background-position: center bottom;
    color: #353535;
    font-weight: bold;
    font-size: rem.rem(24px);
    text-align: center;
  }

  .uagb-post__text {
    padding-inline: rem.rem(20px);
  }
}

.naro-kai-welcome {
  margin-bottom: #{clamp.sass_clamp(20px, 40px)};
  text-align: center;
}

.naro-kai-lead-container {
  background-color: color.$stripe-bg;
  padding: #{clamp.sass_clamp(40px, 80px)};
  display: grid;
  justify-content: center;
}

.naro-kai-lead-inner {
  font-size: #{clamp.sass_clamp(16px, 20px)};
}

.event-page-article {
  max-width: rem.rem(640px);
  margin-inline: auto;
}

.event-page-main {
  background-color: color.$light-sub;
  padding: #{clamp.sass_clamp(10px, 20px)} #{clamp.sass_clamp(10px, 20px)};
  .contents-text {
    ul {
      margin-top: rem.rem(20px);
      margin-bottom: rem.rem(20px);
      li {
        list-style-type: disc;
        margin-left: rem.rem(20px);
      }
    }
    ol {
      margin-top: rem.rem(20px);
      margin-bottom: rem.rem(20px);
      li {
        list-style-type: decimal;
        margin-left: rem.rem(20px);
      }
    }
  }
}

.event-page-article {
  padding: #{clamp.sass_clamp(10px, 20px)};
  background-color: color.$white;
  border-radius: rem.rem(20px);
}

.naro-kai-container {
  .post_password {
    input[type="password"] {
      background-color: color.$white;
    }
  }
}
