
@use "../variables/color";
@use "../variables/fonts";

/* 経歴 */

.profile {
  main {
    line-height: 1.7;
    overflow: hidden;
  }

  .date {
    display: none;
    text-align: right;
  }

  .wp-block-group {
    padding: 28px 20px;
    @media screen and (min-width: 768px) {
      padding: 56px 20px;
    }
  }

  .wp-block-group:nth-of-type(2n) {
    background-color: #edf8fe;
  }

  .wp-block-group__inner-container {
    max-width: 1024px;
    margin: auto;
  }

  h1 {
    color: color.$main-colour;
    padding: 40px 0;
    text-align: center;
  }

  h2 {
    color: color.$main-colour;
    position: relative;
    width: fit-content;
    font-size: 34px;
    font-weight: normal;
    margin: 0 auto 48px;
    padding: 0 0 10px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 30px;
      height: 3px;
      left: 50%;
      translate: -50% 0;
      background-color: color.$accent-colour;
    }
  }

  h3 {
    margin: 48px 0 8px;
    padding: 0;
    font-size: 27px;

    &::after {
      display: none;
    }
  }

  h4 {
    color: color.$main-colour;
    margin: 24px 0 8px;
  }

  ul, ol, li {
    list-style: disc;
  }

  li {
    margin-left: 3em;
    margin-bottom: 8px;
  }

  .profile-portrait {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    margin-bottom: 0;
  }

  .footer {
    position: static;
    width: 100%;
    background-color: #edf8fe;
  }


  .wp-block-group .wp-block-vk-blocks-heading {
    margin-top: 48px;
    font-weight: 700;

    i {
      color: color.$main-colour;
      width: 1.5em;
    }
  }

  .skill-detail {
    padding-left: 2em;
  }

  .p0 {
    padding: 0;
  }

  .cool-vertical-timeline-body {
    .timeline-content {
      .story-time {
        > div {
          line-height: 1.2;
        }

        p {
          line-height: 1.2;
        }
      }
    }
  }

  @media print {

    a {
      text-decoration: none !important;

    }

    .date {
      display: block;
    }

    h2 {
      border-bottom: 1px solid #000;
    }

    h3 {
      font-size: 18px;
    }

    .profile-portrait {
      display: none;
    }

    .cool-vertical-timeline-body .timeline-content .story-details {
      box-shadow: none;
      background: transparent;
      padding: 0;
    }

    .cool-vertical-timeline-body.both-sided .timeline-content .position-right .story-details,
    .cool-vertical-timeline-body.alternating-sided .timeline-content .position-right .story-details,
    .cool-vertical-timeline-body.one-sided.left .timeline-content .story-details {
      border-left: none;
    }

    .cool-vertical-timeline-body .timeline-content.icon-false .timeline-block-icon svg {
      display: none;
    }

    .cool-vertical-timeline-body.both-sided .timeline-content .position-right .story-details::before,
    .cool-vertical-timeline-body.alternating-sided .timeline-content .position-right .story-details::before,
    .cool-vertical-timeline-body.one-sided.left .timeline-content .story-details:before {
      display: none;
    }

    .cool-vertical-timeline-body::before {
      content: none;
    }

    .timeline-block-icon {
      display: none;
    }

    .cool-vertical-timeline-body .ctl-row {
      display: initial;
      padding: 0;
    }

    .cool-vertical-timeline-body .ctl-row .ctl-6 {
      float: none;
    }

    .cool-vertical-timeline-body.one-sided.left .timeline-content .timeline-block-time {
      width: 100%;
    }

    .cool-vertical-timeline-body .timeline-content .story-time {
      height: auto;
      padding: 0;
      margin: 40px 0 8px;
    }

    .cool-vertical-timeline-body .timeline-content .story-time p {
      text-align: left;
    }




    footer {
      display: none;
    }

  } //Print

  @media screen and (min-width: 768px) {

    html {
      font-size: 120%;
    }

    h1 {
      text-align: center;
    }

  }

  @media screen and (min-width: 1024px) {
    html {
      font-size: 140%;
    }

    .cool-vertical-timeline-body .timeline-content .story-time {
      margin-top: 20px;
    }

  }

}
