@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";

/* 予約ページ */

.reservation {
  padding: 1rem;
  max-width: 780px;
  margin-inline: auto;
}

.reservation__heading {
  text-align: center;
  font-family: fonts.$heading, sans-serif;
  color: color.$main-colour;
}

.how-to-reserve {
  ul {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  li {
    list-style-type: disc;

  }
}

/* カレンダーページ */
#booking-package_calendarPage {
  .selectPanel, .selectPanel {
    font-weight: bold;
  }
  .pointer {
    &:hover {
      background-color: color.$light-main;
      color: color.$white;
    }
  }
}

/* 時間選択ページ */
#booking-package_schedulePage {
  .selectPanelError {
    background-color: #efefef;
  }
  .selectPanelActive {
    background-color: color.$light-main;
    color: color.$white;
  }

  .selectPanel {
    &:hover {
      background-color: color.$light-main;
      color: color.$white;
    }
  }
  #returnToCalendarButton {
    padding: rem.rem(10px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-top: 1px solid color.$font-colour;
      border-left: 1px solid color.$font-colour;
      rotate: -45deg;
      margin-top: -2px;
    }
  }
}

/* フォーム */
#booking-package_inputFormPanel {
  input[type=text] {
    padding: 10px;
  }

  label {
    margin-top: rem.rem(10px);
  }

  .description {
    margin-top: rem.rem(10px);
    margin-left: rem.rem(24px);
    font-size: rem.rem(14px);
  }

  #returnToSchedules {
    padding: rem.rem(10px);
    width: rem.rem(100px);
    margin-inline: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-top: 1px solid color.$font-colour;
      border-left: 1px solid color.$font-colour;
      rotate: -45deg;
      margin-top: -2px;
    }
  }

  .bottomBarPanel {
    text-align: center;
  }

  textarea {
    height: rem.rem(100px);
  }

  .bookingDate,
  .bookingTime,
  .bookingSubtitle {
    font-size: rem.rem(24px);
    font-weight: 700;
  }
}

.start_booking_package {

}

#booking-package {

  .numberInsteadOfSymbols {
    color: #aaaaaa;  
  }

  .book_now_button {
    border: 1px solid color.$accent-colour;
    background-color: color.$accent-colour;
    color: #fff;
    padding: rem.rem(10px);
    width: rem.rem(200px);
    margin-inline: auto;
    font-size: rem.rem(24px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .2s;
    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 12px;
      border-bottom: 3px solid color.$white;
      border-left: 3px solid color.$white;
      rotate: -45deg;
      margin-top: -5px;
      transition: .2s;
    }
    &:hover {
      background-color: #fff;
      color: color.$accent-colour;
      cursor: pointer;
      &::before {
        border-bottom: 3px solid color.$accent-colour;
        border-left: 3px solid color.$accent-colour;
      }
    }
  }

}

