$main-colour: #4b2f73;
$light-main: #987abd;
$sub-colour: #d99ac8;
$light-sub: #fde0f2;
$accent-colour: #ff7070;
$important-colour: #ff7070;
$font-colour: #0e4069;
$white: #ffffff;
$stripe-bg: #fefaf4;
$gray: #cccccc;
$translucent: transparentize($light-sub, 0.5);

$lesson-main: #02687c;
$lesson-light: #afe8f3;
$lesson-dark: #003e4b;
$lesson-sub: #39b2bf;
$lesson-accent: #023e73;