$main-colour: #117dbf;
$light-main: #4f97cd;
$sub-colour: #d5eaff;
$light-sub: #f2f9ff;
$accent-colour: #ff7070;
$important-colour: #ff7070;
$font-colour: #0e4069;
$white: #ffffff;
$stripe-bg: #fefaf4;
$gray: #cccccc;
$translucent: transparentize($light-sub, 0.5);