/* Default settings */
@forward "../variables/fonts";
@forward "../variables/color";
@use "../variables/fonts";
@use "../variables/color";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: fonts.$occidental, fonts.$japanese, sans-serif;
  font-style: normal;
  color: color.$font-colour;
  background-color: color.$white;
}

p {
  line-height: 1.7;
}

img {
  width: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* SVG settings */
.b {
  fill: color.$white;
}

.c,
.g,
.h {
  fill: color.$sub-colour;
}

.d,
.e,
.i {
  fill: #3f3f3f;
}