/* Default settings */
@forward "../variables/fonts";
@forward "../variables/color";
@use "../variables/fonts";
@use "../variables/color";
@use "../mixins/responsive";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: fonts.$occidental, fonts.$japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: color.$font-colour;
  background-color: color.$white;
}

p {
  line-height: 1.7;
}

img {
  width: 100%;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* SVG settings */
.b {
  fill: color.$white;
}

.c,
.g {
  fill: color.$lesson-sub;
}

.d,
.e {
  fill: color.$font-colour;
}

/* Footer */

.footer {
  padding: 20px;
  text-align: center;
}

.spectra-image-gallery__control-lightbox--main .swiper-slide img {
  width: auto;
}
