@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";


/*
 ボタン
*/

.common-button a {
  position: relative;
  display: block;
  font-family: fonts.$occidental, fonts.$japanese, sans-serif;
  background-color: color.$accent-colour;
  color: color.$white;
  border: 1px solid color.$accent-colour;
  border-radius: 5px;
  margin: auto;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: fit-content;
  transition: 0.2s;
  &:hover {
    background-color: color.$white;
    color: color.$accent-colour;
    text-decoration: none;
  }
}

/* Button */

.button-wrap {
  margin-top: 80px;
}

.button {
  position: relative;
  display: block;
  width: fit-content;
  z-index: 2;
  background-color: color.$accent-colour;
  border: 2px solid color.$accent-colour;
  color: color.$white;
  border-radius: 5px;
  transition: all .3s;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-inline: auto;
  font-size: #{clamp.sass_clamp(18px, 24px)};
  padding: #{clamp.sass_clamp(5px, 15px)} #{clamp.sass_clamp(30px, 60px)};
  @include responsive.responsive(lg) {
    box-shadow: 5px 5px 1px #eee;
  }
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: color.$accent-colour;
    transition: all .3s;
  }
  &::before {
    right: 0;
  }
  &::after {
    left: 0;
  }
  &:hover {
    background-color: #fff;
    border: 2px solid color.$accent-colour;
    color: color.$accent-colour;
    text-decoration: none;
    &::before,
    &::after {
      width: 0;
      background-color: color.$accent-colour;
    }
  }

}
