@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";


/*
 ボタン
*/

.common-button a {
  position: relative;
  display: block;
  font-family: fonts.$occidental, fonts.$japanese, sans-serif;
  background-color: color.$accent-colour;
  color: color.$white;
  border: 1px solid color.$accent-colour;
  border-radius: 50px;
  margin: auto;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: fit-content;
  transition: 0.2s;
  overflow: hidden;

  &:hover {
    background-color: color.$white;
    color: color.$accent-colour;
    text-decoration: none;
  }
}

/* Button */

.button-wrap {
  margin: #{clamp.sass_clamp(40px, 80px)} auto 0;
  width: fit-content;

  .home-style-90s & {
    @include responsive.responsive(md) {
      margin: rem.rem(24px) auto;
    }
  }
}

.button {
  position: relative;
  display: block;
  width: fit-content;
  z-index: 2;
  background-color: color.$accent-colour;
  border: 1px solid color.$accent-colour;
  color: color.$white;
  border-radius: 50px;
  transition: all .3s;
  text-decoration: none;
  font-size: #{clamp.sass_clamp(18px, 24px)};
  padding: #{clamp.sass_clamp(5px, 15px)} #{clamp.sass_clamp(30px, 60px)};
  margin-inline: auto;
  overflow: hidden;
  .lesson-page & {
    box-shadow: 0 0 20px transparentize(color.$lesson-dark, 0.6);
  }

  .home-style-90s & {
    @include responsive.responsive(md) {
      all: inherit;
      text-decoration: underline;
      color: #00f;
    }

  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: color.$accent-colour;
    transition: all .3s;

    .home-style-90s & {
      @include responsive.responsive(md) {
        content: none;
      }
    }

  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }

  &:hover {
    background-color: color.$white;
    border: 1px solid color.$accent-colour;
    color: color.$accent-colour;
    text-decoration: none;
    transition: 0.2s;

    .home-style-90s & {
      @include responsive.responsive(md) {
        all: inherit;
        text-decoration: underline;
        color: #00f;
        cursor: pointer;
      }
    }

    &::before,
    &::after {
      width: 0;
      background-color: color.$accent-colour;
    }

    .button__inner {
      &::after {
        border-top: 2px solid color.$accent-colour;
        border-right: 2px solid color.$accent-colour;
      }
    }
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid color.$white;
    color: color.$white;

    &::before,
    &::after {
      background-color: transparent;
    }

    .button__inner {
      &::after {
        border-top: 2px solid color.$white;
        border-right: 2px solid color.$white;

        .home-style-90s & {
          @include responsive.responsive(md) {
            content: none;
          }
        }
      }
    }
  }

}

.button__inner {
  display: flex;
  align-items: center;
  gap: rem.rem(10px);

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    transition: 0.2s;
    border-top: 2px solid color.$white;
    border-right: 2px solid color.$white;
    margin-top: rem.rem(-3px);
    rotate: 45deg;

    .home-style-90s & {
      @include responsive.responsive(md) {
        content: none;
      }
    }

  }
}

.header-button {
  display: none;
  @include responsive.responsive(lg) {
    position: relative;
    display: block;
    width: fit-content;
    z-index: 2;
    background-color: color.$accent-colour;
    border: 1px solid color.$accent-colour;
    color: color.$white;
    border-radius: 5px;
    transition: all .3s;
    text-decoration: none;
    font-size: rem.rem(16px);
    padding: rem.rem(10px);
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: color.$accent-colour;
      transition: all .3s;
    }
    &::before {
      right: 0;
    }
    &::after {
      left: 0;
    }
    &:hover {
      background-color: #fff;
      border: 1px solid color.$accent-colour;
      color: color.$accent-colour;
      text-decoration: none;

      &::before,
      &::after {
        width: 0;
        background-color: color.$accent-colour;
      }
    }
  }
}
