@forward "../variables/color";
@forward "../variables/fonts";
@use "../variables/color";
@use "../variables/fonts";
/*
  form
*/

.wpforms-submit {
  position: relative;
  display: block !important;
  font-family: fonts.$occidental, fonts.$japanese, sans-serif !important;
  background-color: color.$accent-colour !important;
  color: color.$white !important;
  border: 1px solid color.$accent-colour !important;
  border-radius: 5px !important;
  margin: auto !important;
  width: 190px !important;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1) !important;
  transition: 0.2s;
}

.wpforms-submit:hover {
  background-color: color.$white !important;
  color: color.$accent-colour !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field {
  padding: 20px 0 !important;
}

.wpforms-field-label {
  font-family: fonts.$occidental, fonts.$japanese, sans-serif !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  border-left: 4px solid color.$accent-colour !important;
  padding-left: 10px !important;
  margin-bottom: 10px !important;
  color: color.$main-colour !important;
}

.wpforms-error {
  font-size: 14px !important;
}

.pc-only {
  display: none !important;
}

.notes {
  margin-top: 16px;
  font-size: smaller;
}