
@use "../variables/color";
@use "../variables/fonts";
@use "../functions/rem";
@use "../functions/clamp";
@use "../mixins/responsive";

/*
  form
*/

.form-wrap {
  margin-inline: auto;
  max-width: 700px;
}

.wpforms-submit.submit-button {
  position: relative;
  display: block !important;
  font-family: fonts.$occidental, fonts.$japanese, sans-serif !important;
  background: color.$accent-colour !important;
  color: color.$white !important;
  border: 1px solid color.$accent-colour !important;
  border-radius: 50px !important;
  padding: #{clamp.sass_clamp(5px, 15px)} #{clamp.sass_clamp(30px, 60px)} !important;
  margin: auto !important;
  width: 190px !important;
  box-shadow: none !important;
  transition: 0.2s;
  &:hover {
    background: color.$white !important;
    color: color.$accent-colour !important;
  }
}

div.wpforms-container-full {
  .wpforms-form {
    .wpforms-field {
      padding: 20px 0 !important;
    }
  }
}

.wpforms-field-label {
  font-family: fonts.$occidental, fonts.$japanese, sans-serif !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  border-left: 4px solid color.$accent-colour !important;
  padding-left: 10px !important;
  margin-bottom: 10px !important;
  color: color.$main-colour !important;
}

.wpforms-error {
  font-size: 14px !important;
  color: color.$important-colour !important;
}

.pc-only {
  //display: none !important;
}

.notes {
  margin-top: 16px;
  font-size: smaller;
}